.navbar {
  background-color: #222;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.project-name {
  font-size: 18px;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.navbar ul li a:hover {
  background-color: #444;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

.theme-switch label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  border: 2px solid #fff;
  margin-right: 5px;
}

.theme-switch input:checked + label::before {
  background-color: #fff;
}

.theme-switch input:checked + label {
  color: #333;
}
