<body>
<div class="register-container">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
      
     
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="user['username']" required minlength="5" maxlength="20">
        <div class="error-message" *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">
          Username must be between 5 and 20 characters.
        </div>
      </div>
      
      
      <!-- <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <div class="password-input">
          <input type="{{ showPassword ? 'text' : 'password' }}" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" required>
          <button type="button" class="toggle-button" (click)="togglePasswordVisibility()">
            <i class="far" [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i>
          </button>
        </div>
      </div> -->
      
      
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user['firstName']" required>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user['lastName']" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-input">
          <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" [(ngModel)]="user.password" required>
          <button type="button" class="toggle-button" (click)="togglePasswordVisibility()">
            <i class="far" [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i>
          </button>
        </div>
      </div>

      <button style="align-items: center;" type="submit" (click) = "onSubmit">Register</button>
    
    </form>
    <p class="login-register-link">Have an account? <a routerLink="/login">Login here</a></p>
  </div>
  
  <!-- <div class="success-popup" *ngIf="showSuccessPopup">
     <div class="success-message"> 
       <h3>Registration Successful!</h3>
      <p>Thank you for registering.</p>
      <button (click)="closeSuccessPopup()">Close</button> 
     </div> 
  </div> -->

  </body>

  